[Unit]
Description=

# Only run when network is connected
#After=network-online.target
#Wants=network-online.target

# Only run when mount point is available
#RequiresMountsFor=

#StartLimitIntervalSec=
#StartLimitBurst=3

[Service]
#Type=simple
Type=oneshot

# Security hardening
CapabilityBoundingSet=
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
# ProtectSystem the following values mount the following directories as read-only
# yes: /usr/, /boot/ and /efi/
# full: everything from "yes" and /etc/
# strict: everything except /dev/, /proc/ and /sys/
ProtectSystem=strict
# Remove "AF_INET" and "AF_INET6" to prevent network access or restrict to IPv4/IPv6
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
# Space separated list of paths allowed for writing
ReadWritePaths=

#User=
#Group=

#Restart=on-failure
#RestartSec=60

# Lower CPU and I/O priority
#Nice=19
#CPUSchedulingPolicy=batch
#IOSchedulingClass=best-effort
#IOSchedulingPriority=7
#IOWeight=100

ExecSearchPath=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=
#ExecStart=systemd-inhibit --who="" --why="" program
#WorkingDirectory=
#KillSignal=SIGINT

# Install section not needed for timers
#[Install]
# for user units (~/.config/systemd/user):
#WantedBy=basic.target
# for system units (/etc/systemd/system):
#WantedBy=multi-user.target
