[Unit]
Description=
#After=network-online.target
#RequiresMountsFor=

#StartLimitIntervalSec=
#StartLimitBurst=3

[Service]
#Type=simple
Type=oneshot

#Restart=on-failure
#RestartSec=60

# Lower CPU and I/O priority
#Nice=19
#CPUSchedulingPolicy=batch
#IOSchedulingClass=best-effort
#IOSchedulingPriority=7
#IOWeight=100

Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

ExecStart=
#ExecStart=systemd-inhibit --who="" --why="" program
WorkingDirectory=
#KillSignal=SIGINT

# Install section not needed for timers
#[Install]
# for user units (~/.config/systemd/user):
#WantedBy=basic.target
# for system units (/etc/systemd/system):
#WantedBy=multi-user.target
